* {
    width: 970px;
    margin: 0 auto;
}

.catimages {
    width: 30%;
    display: inline-block;
    border: 2px solid black;
    margin: 10px 10px;
}

.carimages {
    width: 30%;
    height: 400px;
    border: 3px solid black;
    margin-top: 10px;
    display: inline-block;
}