<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <h1>Fill in Your Car Informatin</h1>
    <form action="/cars" method="POST">
        <table>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" name="fullname"></td>
            </tr>
            <tr>
                <td>Car Make:</td>
                <td><input type="text" name="make"</td>
            </tr>
            <tr>
                <td>Year:</td>
                <td><input type="text" name="year"></td>
            </tr>
            <tr>
                <td>Plate:</td>
                <td><input type="text" name="plate"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</body>
</html>