<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title>Car Site</title>
</head>
<body>
    <h1>Welcome to Car Site</h1>
    <img src="/images/Toyota2.jpg" alt="Car 2" class="carimages">
    <img src="/images/Tesla1.jpg" alt="Car 3" class="carimages">
    <img src="/images/Tesla2.jpg" alt="Car 4" class="carimages">
    <img src="/images/Mercedez1.jpg" alt="Car 5" class="carimages">
    <img src="/images/Toyota1.jpg" alt="Car 1" class="carimages">
    <img src="/images/Mercedez2.jpg" alt="Car 6" class="carimages">
</body>
</html>